[submodule "terminal/.config/alacritty/catppuccin"]
	path = terminal/.config/alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "submodules/uosc"]
	path = submodules/uosc
	url = git@github.com:tomasklaen/uosc.git
[submodule "submodules/rime-ice"]
	path = submodules/rime-ice
	url = https://github.com/iDvel/rime-ice.git
