* {
  font-family: monospace;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(41, 46, 66, 0.95);
  margin: auto;
  padding: 10px;
  border: 1px solid rgba(41, 46, 66, 0.7);
}

#outer-box {
  padding: 2px;
}

#input {
  padding: 10px;
  margin: 6px 6px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 8px;
}

#entry:selected {
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
