[Unit]
Description=Daily Timer

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 0,8,16:00:00
Persistent=true
Unit=auto-snapshots.service

[Install]
WantedBy=multi-user.target
