widget > * {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 13px;
  min-height: 0;
  padding: 0 0.2em;
  margin: 0 0.1em;
}

window#waybar {
  background-color: #000000;
  color: #8080cc;
  transition-property: background-color;
  transition-duration: .5s;
}

button:hover {
  background: rgba(0, 0, 0, 0);
  text-shadow: none;
  box-shadow: inherit;
}

.modules-left > widget:first-child > * {
  margin-left: 0;
  padding-left: 0;
}

.modules-right > widget:last-child > * {
  margin-right: 0;
  padding-right: 0;
}

#clock {
  color: #e6e6fa;
}

#battery.warning {
  color: #ffb823;
}
#battery.discharging {
  color: #3a88ff;
}
#battery.charging {
  color: #26A65B;
}
#battery.plugged {
  color: #6fa685;
}

@keyframes blink {
  to {
    background-color: #ffff00;
  }
}
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  font-family: monospace;
}
#cpu, #temperature {
  color: #2ecc71;
}
#cpu.medium {
  color: #ffb823;
}
#cpu.high {
  color: #eb4d4b;
}
#temperature.critical {
  color: #eb4d4b;
}

#memory {
  color: #9b59b6;
}

#pulseaudio {
  color: #0f80f1;
  min-width: 55px;
}

#pulseaudio.muted {
  color: #9ec7f0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  color: #2d3436;
}
#idle_inhibitor.activated {
  color: #ecf0f1;
}

#custom-aqi.green {
  color: #009966;
}
#custom-aqi.yellow {
  color: #ffde33;
}
#custom-aqi.orange {
  color: #ff9933;
}
#custom-aqi.red {
  color: #cc0033;
}
#custom-aqi.purple {
  color: #660099;
}
#custom-aqi.maroon {
  color: #7e0023;
}

#custom-taskmaid {
  color: #a0a0ff;
}

#custom-netspeed {
  font-family: monospace;
}
