input {
    keyboard {
        xkb {
            options "caps:escape,caps:escape_shifted_capslock"
        }
        repeat-delay 200
        repeat-rate 25
    }
    touchpad {
        tap
        dwt
    }
}

layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    tab-indicator {
        width 8
        gap -8
        length total-proportion=0.2
        position "left"
        place-within-column
    }
}

output "eDP-1" {
    mode "2880x1880@90"
    scale 2
}


prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "WhiteSur-cursors"
    xcursor-size 30
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  CLUTTER_BACKEND "wayland"
  SDL_VIDEODRIVER "wayland"
  WINIT_UNIX_BACKEND "wayland"
  GTK_IM_MODULE "fcitx"
  QT_IM_MODULE "fcitx"
  XMODIFIERS "@im=fcitx"
}

// 禁用热区。
gestures {
    hot-corners {
        off
    }
}

include "startup.kdl"
include "windowrules.kdl"
include "keybindings.kdl"
include "noctalia-settings.kdl"
include optional=true "noctalia.kdl"

// vim: set sw=4:
