[Desktop Entry]
Name=鬼谷八荒 Tale of Immortal
Comment=Play this game on Steam
Exec=steam steam://rungameid/1468810
Icon=steam_icon_1468810
Terminal=false
Type=Application
Categories=Game;
