[Match]
Name=br0

[Network]
DHCP=yes
IPForward=yes
IPv6AcceptRA=yes
IPv6PrivacyExtensions=no

[DHCPv4]
UseDNS=false
RouteMetric=400

[DHCPv6]
UseDNS=false
RouteMetric=400

[Route]
Gateway=_dhcp4

